<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softeng.ooyoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UsersListActivity"></activity>
        <activity android:name=".user.SearchListActivity" />
        <activity android:name=".signUpLogIn.SignupInterestsActivity" />
        <activity android:name=".signUpLogIn.SignupAddInfoActivity" />
        <activity android:name=".signUpLogIn.SignupActivity" />
        <activity android:name=".user.BecomeHostActivity" />
        <activity android:name=".user.BecomeTravellerActivity" />
        <activity android:name=".signUpLogIn.LoginActivity" />
        <activity android:name=".user.OwnProfile" />
        <activity android:name=".user.ProfileActiviy" />
        <activity android:name=".mainScreens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>